* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	margin: 0;
	list-style-type: none;
}

button,
input {
	outline: none;
	border: none;
}

:root {
	font-size: 62.5%;
}
.wrapper {
	position: relative;
	min-height: 100vh;
	background-color: rgba(0, 128, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	overflow: hidden;
}

.user {
	flex: 0 0 30%;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	text-align: center;
	color: #fff;

	// .authorization__lbl
	&__lbl {
		margin: 0 0 1.5rem 0;
		& > input {
			margin: 1rem 0 0 0;
			display: block;
			width: 100%;
			padding: 1rem;
			background-color: rgba(255, 255, 255, 0.2);
			font-size: inherit;
			&:focus {
				background-color: rgba(255, 255, 255, 0.8);
			}
		}

		// .authorization__lbl_login
		&_login {
		}

		// .authorization__lbl_pass
		&_pass {
		}

		// .authorization__lbl_chbx
		&_chbx {
			padding: 0 0 .5rem 0;
			position: relative;
			& > span {
				content: '';
				position: absolute;
				transform: translateX(-50%);
			}
			& > .center {
				top: 100%;
				left: 50%;
				width: 2.3rem;
				height: .8rem;
				background: linear-gradient(to left, red 50%, green 50%);
				border-radius: .8rem;
			}
			& > .circle {
				top: 87.5%;
				left: 48%;
				width: 1.5rem;
				height: 1.5rem;
				background-color: #fff;
				border-radius: 50%;
				z-index: 5;
				transition: all .3s ease-in-out;
			}
			& > input {
				display: none;
				&:checked + .circle {
					left: 52%;
				}
			}
		}
	}

	// .authorization__txt
	&__txt {
		margin: 0 0 1rem 0;
	}

	// .authorization__btn
	&__btn {
		align-self: center;
		width: 70%;
		padding: 1rem;
		cursor: pointer;
		letter-spacing: .2rem;
		font-size: 1.6rem;
		font-weight: 600;
		background-color: rgba(255, 255, 255, 0.6);
		transition: all .4s linear;
		margin: 0 0 1.5rem 0;
		&:hover {
			background-color: rgb(255, 255, 255);
		}
	}
}
.registration-btn {
	align-self: center;
	width: 100%;
	padding: 1rem;
	cursor: pointer;
	letter-spacing: .2rem;
	font-size: 1.6rem;
	font-weight: 600;
	background-color: rgba(3, 5, 124, 0.6);
}
.reg-lbl__chbx {
	padding: 0 0 2rem 0;
	margin: 0;
	& > .circle {
		top: 57.5%;
	}
	& > .center {
		top: 69%;
	}
}
.alert {
	padding: 1rem;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	font-size: 1.6rem;
	transition: all .4s linear;
	background-color: #fff;
	z-index: 1;

	&[data-top="true"] {
		top: 7.5%;
	}
}

.wrapper-todo {
	min-height: 100vh;
	background-color: rgba(242, 255, 53, 0.205);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
}
.header {
	background-color: rgba(185, 179, 179, 0.705);
}
.container {
	max-width: 1200px;
	padding: 0 1.5rem;
	margin: 0 auto;
}
.head {
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	// .head__logo
	&__logo {
		font-size: 3rem;
		color: rgb(168, 168, 168);
		text-decoration: none;
		letter-spacing: 0.3rem;
	}

	// .head__tasks
	&__tasks {
		flex: 1 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	// .head__lbl
	&__lbl_chbx {
		display: block;
		width: 4rem;
		height: 4rem;
		position: relative;

		& > span {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&-center {
			width: 100%;
			height: 1rem;
			background: linear-gradient(to right, red 50%, green 50%);
			border-radius: 1rem;
			z-index: 2;
		}

		&-circle {
			left: 0;
			width: 50%;
			height: 2rem;
			background-color: #fff;
			border-radius: 50%;
			box-shadow: 0 0 .2rem #000;
			transition: .4s ease-in-out;
			z-index: 3;
		}
	}

	// .head__inp
	&__inp {
		padding: .8rem 1rem;
		border: .1rem solid rgb(15, 11, 83);
		border-radius: 1.5rem;

		// .head__inp_date
		&_date {
		}

		// .head__inp_txt
		&_txt {
			font-size: 1.5rem;
			flex: 0 0 40%;
		}

		// .head__inp_chbx
		&_chbx {
			display: none;
			&:checked + .head__lbl_chbx-circle {
				left: 50%;
			}
		}
	}

	// .head__btn
	&__btn {
		padding: .5rem 1rem;
		font-size: 1.8rem;
		border-radius: 2.5rem;
		cursor: pointer;
	}

	// .head__admin
	&__admin {
	}

	// .head__links
	&__links {
		padding: 1rem;
		display: none;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgb(160, 156, 156);
		z-index: 11;
	}

	// .head__adm-items
	&__adm-items {
		position: relative;
		font-size: 1.6rem;
		&:hover > .head__links {
			display: block;
		}
	}

	// .head__link
	&__link {
		padding: 0 1rem;
		display: block;
		text-decoration: none;
		font-size: 1.6rem;
		&:not(:last-child) {
			margin: 0 0 1rem 0;
		}
	}
}
.main {
	flex: 1 0;
	display: flex;
	justify-content: stretch;
}
.sidebar {
	flex: 0 0 20%;
	background-color: #fff;
	// .sidebar__link
	&__link {
		padding: 1rem 0;
		text-align: center;
		display: block;
		text-decoration: none;
		font-size: 1.6rem;
	}
}
.content {
	flex: 1 0;
	background-color: rgba(182, 155, 155, 0.795);

	// .content__top
	&__top {
		padding: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .content__top-search
	&__top-search {
		flex: 0 0 70%;
		padding: 1rem;
		font-size: 1.6rem;
		border: .1rem solid red;
		border-radius: 2.6rem;
	}

	// .content__tasks
	&__tasks {
		padding: 1.5rem;
	}

	// .content__items
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1.5rem;
		font-size: 1.6rem;

		&:not(:last-child) {
			margin: 0 0 1.5rem 0;
		}
	}

	// .content__circle-important
	&__circle-important {
		width: 1.5rem;
		height: 1.5rem;
		background-color: green;
		border-radius: 50%;
	}

	// .content__txt
	&__txt {
		flex: 0 0 65%;
	}

	// .content__date
	&__date {
	}

	// .content__btns
	&__btns {
		flex: 0 0 20%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& > button {
			padding: 1rem 1.5rem;
			font-size: 1.6rem;
			border-radius: 2.6rem;
			text-transform: uppercase;
			cursor: pointer;
		}

		// .content__btns_del
		&_del {
			background-color: red;
		}

		// .content__btns_edit
		&_edit {
			background-color: green;
		}
	}
}
[data-underline="true"] {
	text-decoration: line-through;
}

[data-important="true"] {
	background-color: red;
}

.edit-tasks-wrap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 111;
}

[data-visible="true"] {
	display: flex;
}

%editInp {
	margin: 0 0 1rem 0;
	padding: 1rem;
	font-size: 1.6rem;
	border-radius: 2rem;
}
.edit-tasks {
	padding: 2rem 1rem;
	flex: 0 0 40%;

	// .edit-tasks__txt
	&__txt {
		@extend %editInp;
	}

	// .edit-tasks__date
	&__date {
		@extend %editInp;
	}

	// .edit-tasks__lbl
	&__lbl {
		padding: 2rem;
		align-self: center;
		display: block;
		width: 4rem;
		height: 4rem;
		position: relative;
		cursor: pointer;

		& span {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&-center {
			left: 0;
			width: 100%;
			height: 1rem;
			background: linear-gradient(to right, red 50%, green 50%);
			border-radius: 1rem;
			z-index: 2;
		}

		&-circle {
			left: 0;
			width: 50%;
			height: 2rem;
			background-color: #fff;
			border-radius: 50%;
			box-shadow: 0 0 .2rem #000;
			transition: .4s ease-in-out;
			z-index: 3;
		}
	}

	// .edit-tasks__chbx
	&__chbx {
		display: none;
		&:checked + .edit-tasks__lbl-circle {
			left: 50%;
		}
	}

	// .edit-tasks__btns
	&__btns {
		flex: 0 0 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		& > button {
			padding: 1rem 1.5rem;
			font-size: 1.6rem;
			border-radius: 2.6rem;
			text-transform: uppercase;
			cursor: pointer;
		}

		// .edit-tasks__btns_exit
		&_exit {
			background-color:red;
		}

		// .edit-tasks__btns_edit
		&_edit {
			background-color: green;
		}
	}
}

.change-pass {

	// .change-pass__lbl
	&__lbl {
		display: block;
		margin: 0 0 1.5rem 0;

		&_chbx {
			position: relative;
			align-self: center;
			width: 3rem;
			height: 3rem;
			cursor: pointer;

			& > span {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		// .change-pass__lbl_circle
		&_circle {
			left: 0;
			width: 1.6rem;
			height: 1.6rem;
			border-radius: 50%;
			background-color: #fff;
			z-index: 3;
			transition: all .3s ease-in-out;
		}

		// .change-pass__lbl_center
		&_center {
			left: 0;
			width: 100%;
			height: 1rem;
			background: linear-gradient(to right, red 50%, blue 50%);
			border-radius: 1rem;
			z-index: 2;
		}
	}

	// .change-pass__inp
	&__inp {
		display: block;
		width: 100%;
		margin: .5rem 0 0 0;
		padding: .5rem 1rem;
		font-size: 1.6rem;

		// .change-pass__inp_chbx
		&_chbx {
			display: none;
			&:checked + .change-pass__lbl_circle {
				left: calc(100% - 1.6rem);
			}
		}
	}

	// .change-pass__btns
	&__btns {
		align-self: center;
		display: block;
		width: 70%;
		font-size: 1.6rem;
		color: white;
		padding: 1rem;
		cursor: pointer;

		// .change-pass__btn_change
		&_change {
			background-color: blue;
			margin: 0 0 1rem 0;
		}

		// .change-pass__btn_back
		&_back {
			text-decoration: none;
			background-color: green;
		}
	}
}
.admin {
	position: relative;
	background-color: #fff;
	padding: 2rem;
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;

	// .admin__title
	&__title {
		flex: 0 0 100%;
		padding: 1rem 0;
		display: flex;
		text-align: center;
		font-size: 1.6rem;
		text-transform: uppercase;
		
		// .admin__title_users
		&_users {
			flex: 0 0 50%;
		}

		// .admin__title_add-user
		&_add-user {
			flex: 0 0 50%;
		}
	}

	// .admin__users-list
	&__users-list {
		flex: 0 0 48%;
	}

	// .admin__users-item
	&__users-item {
		display: flex;
		justify-content: space-between;
		position: relative;
		font-size: 1.6rem;
		&::before {
			content: attr(data-index);
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	// .admin__user-login
	&__user-login {
		padding: 1rem 2rem;
	}

	&__users-btn {
		padding: 1rem;
		color: white;
		font-size: 1.6rem;
		text-transform: uppercase;
		cursor: pointer;
	}

	// .admin__users-btns
	&__users-btns {

		// .admin__users-btns_del
		&_del {
			background-color: red;
		}

		// .admin__users-btns_change
		&_change {
			background-color: rgb(0, 17, 255);
		}
	}

	// .admin__curr-admin
	&__curr-admin {
		flex: 0 0 48%;

		& > input {
			padding: .5rem 1rem;
			border: .1rem solid rgb(0, 60, 128);
			display: block;
			width: 100%;
			margin: 0 0 1rem 0;
		}
	}

	&__add-new-user {
		display: block;
		margin: 0 auto;
		padding: .5rem 1rem;
		font-size: 1.6rem;
		text-transform: uppercase;
		background-color: blue;
		color: #fff;
		cursor: pointer;
	}

	// .admin__curr-chbxs
	&__curr-chbxs {
		padding: 1.5rem;

		& > label {
			font-size: 1.6rem;
			text-transform: capitalize;
			cursor: pointer;
		}
	}

	// .admin__exit
	&__exit {
		position: absolute;
		top: 0;
		left: 0;
		padding: .5rem;
		background-color: green;
		color: white;
		font-size: 1.6rem;
		cursor: pointer;
	}
}
.admin-drag {
	flex: 0 0 400px;
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	background-color: rgba(82, 238, 77, 0.514);
	font-size: 1.6rem;

	&__title {
		margin: 0 0 2rem;
		text-align: center;
	}
	// .admin-drag__zones
	&__zones {
		flex: 0 0 45%;
		display: flex;
		justify-content: start;
		flex-direction: column;
		background-color: #fff;
		padding: 1rem;
		// .admin-drag__zones_left
		&_left {
		}
		// .admin-drag__zones_right
		&_right {
		}
	}
	// .admin-drag__item
	&__item {
		cursor: pointer;
		align-self: center;
		padding: .5rem;
		margin: 0 0 .7rem 0;
		width: 70%;
		background-color: rgb(82, 82, 197);
		text-align: center;
		color: #fff;
		text-transform: capitalize;
	}
}