* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  margin: 0;
  list-style-type: none;
}

button,
input {
  outline: none;
  border: none;
}

:root {
  font-size: 62.5%;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  background-color: rgba(0, 128, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

.user {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
}

.user__lbl {
  margin: 0 0 1.5rem 0;
}

.user__lbl > input {
  margin: 1rem 0 0 0;
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: inherit;
}

.user__lbl > input:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.user__lbl_chbx {
  padding: 0 0 .5rem 0;
  position: relative;
}

.user__lbl_chbx > span {
  content: '';
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.user__lbl_chbx > .center {
  top: 100%;
  left: 50%;
  width: 2.3rem;
  height: .8rem;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, red), color-stop(50%, green));
  background: -webkit-linear-gradient(right, red 50%, green 50%);
  background: -o-linear-gradient(right, red 50%, green 50%);
  background: linear-gradient(to left, red 50%, green 50%);
  border-radius: .8rem;
}

.user__lbl_chbx > .circle {
  top: 87.5%;
  left: 48%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 5;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.user__lbl_chbx > input {
  display: none;
}

.user__lbl_chbx > input:checked + .circle {
  left: 52%;
}

.user__txt {
  margin: 0 0 1rem 0;
}

.user__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
  padding: 1rem;
  cursor: pointer;
  letter-spacing: .2rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  margin: 0 0 1.5rem 0;
}

.user__btn:hover {
  background-color: white;
}

.registration-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  letter-spacing: .2rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: rgba(3, 5, 124, 0.6);
}

.reg-lbl__chbx {
  padding: 0 0 2rem 0;
  margin: 0;
}

.reg-lbl__chbx > .circle {
  top: 57.5%;
}

.reg-lbl__chbx > .center {
  top: 69%;
}

.alert {
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.6rem;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  background-color: #fff;
  z-index: 1;
}

.alert[data-top="true"] {
  top: 7.5%;
}

.wrapper-todo {
  min-height: 100vh;
  background-color: rgba(242, 255, 53, 0.205);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: rgba(185, 179, 179, 0.705);
}

.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.head {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__logo {
  font-size: 3rem;
  color: #a8a8a8;
  text-decoration: none;
  letter-spacing: 0.3rem;
}

.head__tasks {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__lbl_chbx {
  display: block;
  width: 4rem;
  height: 4rem;
  position: relative;
}

.head__lbl_chbx > span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.head__lbl_chbx-center {
  width: 100%;
  height: 1rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, red), color-stop(50%, green));
  background: -webkit-linear-gradient(left, red 50%, green 50%);
  background: -o-linear-gradient(left, red 50%, green 50%);
  background: linear-gradient(to right, red 50%, green 50%);
  border-radius: 1rem;
  z-index: 2;
}

.head__lbl_chbx-circle {
  left: 0;
  width: 50%;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 .2rem #000;
          box-shadow: 0 0 .2rem #000;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  z-index: 3;
}

.head__inp {
  padding: .8rem 1rem;
  border: 0.1rem solid #0f0b53;
  border-radius: 1.5rem;
}

.head__inp_txt {
  font-size: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.head__inp_chbx {
  display: none;
}

.head__inp_chbx:checked + .head__lbl_chbx-circle {
  left: 50%;
}

.head__btn {
  padding: .5rem 1rem;
  font-size: 1.8rem;
  border-radius: 2.5rem;
  cursor: pointer;
}

.head__links {
  padding: 1rem;
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #a09c9c;
  z-index: 11;
}

.head__adm-items {
  position: relative;
  font-size: 1.6rem;
}

.head__adm-items:hover > .head__links {
  display: block;
}

.head__link {
  padding: 0 1rem;
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
}

.head__link:not(:last-child) {
  margin: 0 0 1rem 0;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  background-color: #fff;
}

.sidebar__link {
  padding: 1rem 0;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  background-color: rgba(182, 155, 155, 0.795);
}

.content__top {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__top-search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  padding: 1rem;
  font-size: 1.6rem;
  border: .1rem solid red;
  border-radius: 2.6rem;
}

.content__tasks {
  padding: 1.5rem;
}

.content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  font-size: 1.6rem;
}

.content__items:not(:last-child) {
  margin: 0 0 1.5rem 0;
}

.content__circle-important {
  width: 1.5rem;
  height: 1.5rem;
  background-color: green;
  border-radius: 50%;
}

.content__txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.content__btns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__btns > button {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 2.6rem;
  text-transform: uppercase;
  cursor: pointer;
}

.content__btns_del {
  background-color: red;
}

.content__btns_edit {
  background-color: green;
}

[data-underline="true"] {
  text-decoration: line-through;
}

[data-important="true"] {
  background-color: red;
}

.edit-tasks-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 111;
}

[data-visible="true"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit-tasks__txt, .edit-tasks__date {
  margin: 0 0 1rem 0;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 2rem;
}

.edit-tasks {
  padding: 2rem 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.edit-tasks__lbl {
  padding: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  width: 4rem;
  height: 4rem;
  position: relative;
  cursor: pointer;
}

.edit-tasks__lbl span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.edit-tasks__lbl-center {
  left: 0;
  width: 100%;
  height: 1rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, red), color-stop(50%, green));
  background: -webkit-linear-gradient(left, red 50%, green 50%);
  background: -o-linear-gradient(left, red 50%, green 50%);
  background: linear-gradient(to right, red 50%, green 50%);
  border-radius: 1rem;
  z-index: 2;
}

.edit-tasks__lbl-circle {
  left: 0;
  width: 50%;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 .2rem #000;
          box-shadow: 0 0 .2rem #000;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  z-index: 3;
}

.edit-tasks__chbx {
  display: none;
}

.edit-tasks__chbx:checked + .edit-tasks__lbl-circle {
  left: 50%;
}

.edit-tasks__btns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-tasks__btns > button {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 2.6rem;
  text-transform: uppercase;
  cursor: pointer;
}

.edit-tasks__btns_exit {
  background-color: red;
}

.edit-tasks__btns_edit {
  background-color: green;
}

.change-pass__lbl {
  display: block;
  margin: 0 0 1.5rem 0;
}

.change-pass__lbl_chbx {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.change-pass__lbl_chbx > span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.change-pass__lbl_circle {
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: 3;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.change-pass__lbl_center {
  left: 0;
  width: 100%;
  height: 1rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, red), color-stop(50%, blue));
  background: -webkit-linear-gradient(left, red 50%, blue 50%);
  background: -o-linear-gradient(left, red 50%, blue 50%);
  background: linear-gradient(to right, red 50%, blue 50%);
  border-radius: 1rem;
  z-index: 2;
}

.change-pass__inp {
  display: block;
  width: 100%;
  margin: .5rem 0 0 0;
  padding: .5rem 1rem;
  font-size: 1.6rem;
}

.change-pass__inp_chbx {
  display: none;
}

.change-pass__inp_chbx:checked + .change-pass__lbl_circle {
  left: calc(100% - 1.6rem);
}

.change-pass__btns {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  width: 70%;
  font-size: 1.6rem;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.change-pass__btns_change {
  background-color: blue;
  margin: 0 0 1rem 0;
}

.change-pass__btns_back {
  text-decoration: none;
  background-color: green;
}
/*# sourceMappingURL=style.css.map */