* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  font-family: 'Poppins', sans-serif;
  background-color: #263238;
}

.head {
  padding: 2em;
}

.head__title {
  text-align: center;
  font-size: 3em;
  color: #F07178;
}

.main {
  padding: 2rem 0;
}

.country-cards-top {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.country-cards-top__search {
  padding: .5em .25em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1.6rem;
  border: .2em solid #671895;
  border-radius: .2em;
}

.country-cards-top__search:focus {
  background-color: transparent;
  outline: none;
}

.cards-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 1em 0;
  padding: 1em;
  color: #00D6E9;
  background: -webkit-gradient(linear, left top, left bottom, from(#4D7C8C), to(#2F3646));
  background: -webkit-linear-gradient(top, #4D7C8C, #2F3646);
  background: -o-linear-gradient(top, #4D7C8C, #2F3646);
  background: linear-gradient(to bottom, #4D7C8C, #2F3646);
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 1em 0;
}

.card__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  position: relative;
  padding: 0 0 49% 0;
}

.card__img > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__name {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 20px #adacac;
  font-size: 2rem;
  font-weight: 600;
  color: #202124;
  margin: 0 0 1em 0;
}

.card__info {
  font-size: 1.4em;
  list-style-type: none;
}

.card__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #606263;
  text-transform: lowercase;
}

.card__info-item > span {
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 480px) {
  .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }
}

@media screen and (min-width: 768px) {
  .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

@media screen and (min-width: 768px) {
  .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
  }
  .country-cards-top__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
/*# sourceMappingURL=style.css.map */